deps/
tts/
www/

__pycache__/

.DS_STORE
.uuid
.spotify-token-cache
.storage
*.xml
*.conf
*.pem
*.json
*.txt
*.log
*.db
*.sqlite
zwave_device_config.yaml
secrets.yaml
known_devices.yaml
entity_registry.yaml
